@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rainbow{
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.cell {
  width: fit-content;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  --border: 0.15rem;
  --radius: 1.5rem;
  border-radius: var(--radius);
  position: relative;
  background-color: black;
  transition: background-color 500ms linear;
  box-sizing: border-box;
}

.cell:hover {
  border: var(--border) solid transparent;
}

.cell:hover::after {
  content: '';
  position: absolute;
  border-radius: var(--radius);
  top: calc(-2 * var(--border));
  left: calc(-2 * var(--border));
  right: calc(-2 * var(--border));
  bottom: calc(-2 * var(--border));
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, black, black, black, #a166ab, #5073b8, #1098ad, black, black, #07b39b, #6fba82);
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
  animation-fill-mode: forwards;
  z-index: -1;
}
